.header-section {
    background-color: #171928;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arcader-logo-img {
    width: 190px;
    height: 50px;
}

.lang-name-span {
    font-size: 14px !important;
    color: #FFFFFF !important;
    margin-left: 5px;
}

.lang-flag-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 42px;
    border-radius: 8px;
    background-color: #202338;
    margin-left: 30px;
}

.flag-en-img {
    width: 24px;
    height: 16px;
}

.token-price-section {
    margin-left: 20px;
}

.token-price-span {
    color: #626F8C;
    font-size: 14px;
}

.small-token-img {
    width: 23px;
    height: 21px;
    margin-left: 10px;
}

.token-value-span {
    color: #FFFFFF;
    font-size: 16px;
    margin-left: 10px;
}

.links-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-btns {
    width: 46px;
    height: 46px;
    margin-right: 10px;
}

.btn-login {
    background-color: #8462FF !important;
    width: 170px !important;
    height: 52px !important;
    border-radius: 12px !important;
    color: #FFFFFF !important;
    font-family: Roboto, sans-serif !important;
    font-size: 16px !important;
    border-color: #8462FF !important;
}

.landing-section {
    margin-top: 69px;
    overflow-x: hidden;
}

.game-platform {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-logo-section {
    z-index: 2;
}

.game-logo-img {
    width: 75px;
    height: 68px;
}

.game-main-intro-span {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.game-name-span {
    color: #7C46F1;
}

.game-intro-section {
    z-index: 2;
}

.game-password-info {
    text-align: center;
    color: #8997A9;
    font-size: 16px;
}

.join-login-area {
    justify-content: center !important;
    margin-top: 20px !important;
}

.join-login-btn {
    font-size: 16px;
    background-color: #8462FF !important;
    border-color: #8462FF !important;
    border-radius: 12px !important;
    width: 340px !important;
    height: 52px !important;
    margin-top: 20px;
}

.effect-wallpaper01 {
    position: absolute;
    left: calc((100% - 998px) / 2);
    top: 256px;
}

.effect-wall-01 {
    width: 998px;
    height: 576px;
}

.effect-wallpaper03 {
    position: absolute;
    left: calc((100% - 742px) / 2);
    top: 561px;
}

.effect-wall-03 {
    width: 742px;
    height: 259px;
}

.character02-img {
    top: 534px;
    position: absolute;
    left: calc((100% - 768px) / 2 - 140px);
}

.character01-img {
    position: absolute;
    left: calc((100% - 768px) / 2);
    top: 468px;
    z-index: 3;
}

.character03-img {
    position: absolute;
    left: calc((100% - 768px) / 2 + 405px);
    top: 558px;
}

.upcoming-games {
    margin-top: 1125px;
    text-align: center;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
}

.upcoming-title-span {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.upcoming-spec {
    color: #7C46F1;
}

.upcoming-detail-span {
    font-size: 16px;
    color: #8997A9;
}

.game-section-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 103px;
}

.game-section-card {
    width: 392px;
    height: 100px;
    background-size: cover;
    background-repeat: none;
    border-radius: 12px;
    border: solid 1px #8462FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cs-game-section-card {
    background-image: url('../images/games/cs-section-bg.png');
}

.co-game-section-card {
    background-image: url('../images/games/co-section-bg.png');
}

.ft-game-section-card {
    background-image: url('../images/games/ft-section-bg.png');
}

.match-cards {
    margin-top: 124px;
}

.match-card-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.shadow-area {
    width: 1178px;
    height: 294px;
    margin-top: -250px;
    z-index: 4;
    margin-left: 10px;
}

.shadow-effect-img {
    width: 100%;
    height: auto;
}

.match-card-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeall-btn {
    width: 340px !important;
    height: 52px !important;
    border-radius: 12px !important;
    background-color: #8462FF !important;
    border-color: #8462FF !important;
    margin-top: -26px;
}

.brand-ambassadors {
    margin-top: 170px;
}

.brand-title-section {
    text-align: center;
}

.brand-title {
    font-size: 50px;
    font-weight: bold;
    color: #FFFFFF;
}

.spec-brand {
    color: #7C46F1;
}

.brand-detail-section {
    text-align: center;
}

.brand-detail {
    color: #8997A9;
}

.gamers-card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.social-counts-section {
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-section-bg {
    width: 1350px;
    height: 150px;
    background-color: #04060A;
    border-radius: 12px;
    display: flex;
}

.eclipse-effect {
    width: 319px;
    height: 150px;
    left: 50%;
}

.youtube-texts {
    width: 50%;
    text-align: center;
}

.twitch-texts {
    width: 50%;
    text-align: center;
}

.youtube-counts-text {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
}

.socail-texts-l {
    display: flex;
    justify-content: right;
    margin-right: 150px;
    align-items: center;
    margin-top: 20px;
}

.socail-texts-r {
    display: flex;
    justify-content: left;
    margin-left: 150px;
    align-items: center;
    margin-top: 20px;
}

.social-icons {
    margin-right: 20px;
}

.socail-sub-texts-l>span {
    color: #8997A9 !important;
}

.socail-sub-texts-l {
    text-align: right;
    padding-right: 200px;
    margin-top: 10px;
}

.socail-sub-texts-r>span {
    color: #8997A9 !important;
}

.socail-sub-texts-r {
    text-align: left;
    padding-left: 200px;
    margin-top: 10px;
}

.leader-board {
    margin-top: 10px;
}

.leader-board-title-section {
    text-align: center;
    margin-top: 160px;
}

.leaderboard-title {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

.leaderboard-detail {
    font-size: 16px;
    color: #8997A9;
}

.top-leaders-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 125px;
    width: 80%;
    max-width: 1080px;
    margin-left: calc((100% - 1080px) / 2);
}

.leaders-table-section {
    margin-top: 64px;
    position: relative;
    max-width: 1350px;
    margin-left: calc((100% - 1350px) / 2);
}

.gold-crown-effect {
    background-image: url('../images/leaders/gold-crown-lg.png');
    background-repeat: no-repeat;
    width: 279px;
    height: 242px;
    position: absolute;
    right: -150px;
    bottom: 35px;
}

.bronze-crown-effect {
    background-image: url('../images/leaders/bronze-crown-md.png');
    background-repeat: no-repeat;
    width: 106px;
    height: 94px;
    position: absolute;
    left: -60px;
    top: 130px;
    z-index: -1;
}

.leaders-table-section div:nth-child(4) {
    transform: rotate(-0.8deg);
}

.leaders-table-section div:nth-child(5) {
    transform: rotate(0.3deg);
}

.leaders-table-section div:nth-child(6) {
    transform: rotate(0.9deg);
}

.about-arcader {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.about-detail-section {
    width: 703px;
    text-align: center;
}

.about-detail {
    color: #8997A9;
    font-size: 16px;
}

.about-status {
    width: 921px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sub-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.status-value {
    font-size: 32px;
    color: #FFFFFF;
    font-weight: bold;
}

.status-title {
    color: #8997A9;
    font-size: 14px;
}

.footer-section {
    width: calc(100% - 334px);
    height: 57px;
    border-top: solid 1px #252C46;
    margin-left: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy-right {
    color: #3D475F;
    font-size: 12px;
}

.services-text {
    color: #3D475F;
    font-size: 12px;
    margin-left: 50px;
}