.my-profile-section {
    width: calc(100% - 294px);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.my-profile-section::-webkit-scrollbar {
    width: 6px;
}

.my-profile-section::-webkit-scrollbar-thumb {
    background-color: #3D475F;
}

.profile-header-section {
    width: calc(100% - 40px);
    height: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 20px;
    background-color: #151725;
    border-radius: 12px;
}

.profile-bg-section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: calc((100% - 1586px) / 2);
}

.profile-bg {
    width: auto;
    height: 100%;
    /* position: absolute; */
    top: 0;
    border-radius: 12px;
}

@media screen and (min-width: 1920px) {
    .profile-bg {
        width: 100%;
        height: auto;
    }
}

.avatar-section {
    background-image: url(../../assets/images/games/avatar-wrap.png);
    width: 164px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    z-index: 2;
}

.avatar-img {
    width: 148px;
    height: 164px;
}

.profile-info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.profile-social-links {
    width: 64px;
    height: 64px;
}

.social-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.profile-name-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.profile-name-section > img {
    width: 36px;
    height: 24px;
    margin-right: 5px;
}

.profile-name-section > span {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
}

.profile-registered-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

.profile-registered-section > span {
    color: #3D475F;
    font-size: 14px;
    font-weight: 600;
}

.profile-registered-section > span > span {
    color: #626F8C;
}

.pencil-ico {
    width: 24px;
    height: 24px;
}

.btn-edit-profile {
    width: 270px;
    height: 48px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-edit-profile > span {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
}

.edit-profile-section {
    margin-top: 15px;
}

.profile-info-section div.social-profile:nth-child(1) a:nth-child(1) > img, .profile-info-section div.social-profile:nth-child(1) a:nth-child(2) > img {
    margin-right: 10px;
}

.profile-info-section div.social-profile:last-child a:nth-child(2) > img, .profile-info-section div.social-profile:last-child a:nth-child(3) > img {
    margin-left: 10px;
}

.profile-benefit-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.profile-benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-benefit span:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

.profile-benefit span:last-child {
    font-size: 14px;
    font-weight: 600;
    color: #8997A9;
}

.profile-vt-line {
    width: 1px;
    height: 48px;
    background-color: #252C46;
}

.profile-games-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1586px;
    margin-top: 30px;
    height: 260px;
}

@media screen and (min-width: 1921px) {
    .profile-games-section {
        width: calc(100% - 40px);
    }
}

.profile-game-card {
    width: 521px;
    height: 260px;
    border-radius: 6px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: relative;
    padding-left: 20px;
}

.ft-game-card {
    background-image: linear-gradient(to bottom right, rgb(82, 27, 137), rgb(65, 87, 164));
}

.ft-game-card > div > img {
    width: 88px;
    height: 25px;
}

.co-game-card {
    background-image: linear-gradient(to bottom left, rgb(53, 127, 159), rgb(14, 34, 63));
}

.co-game-card > div > img {
    width: 97px;
    height: 18px;
}

.cs-game-card {
    background-image: linear-gradient(to bottom left, rgb(53, 78, 107), rgb(9, 22, 32));
}

.cs-game-card > div > img {
    width: 78px;
    height: 34px;
}

.profile-game-card-bg {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.progress {
    height: 6px !important;
    width: 200px !important;
    border-radius: 6px !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    width: 224px !important;
}

.progress-bar {
    background-color: #FFFFFF !important;
}

.progress-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.progress-label {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.progress-label > img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.progress-label > span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: bold;
}

.progress-result > span {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.profile-game-detail {
    width: 224px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.profile-game-detail span:nth-child(1), .profile-game-detail span:nth-child(3) {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    width: 60px;
}

.profile-game-detail span:nth-child(2), .profile-game-detail span:nth-child(4) {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}